*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

.quiz{
    display: flex;
    font-size: x-large;
    width: 30vw;
    text-align: center;
    justify-content: start;
    margin-left: 40px;
    font-weight: bold;

}
.header{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(183, 183, 235);
    justify-content: center;
    align-items: center;
}

.header_main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid red; */
    width: 40vw;
    height: 50vh;
    /* justify-content: center; */
    /* align-items: center; */
}
.text{
    display: flex;
    width: 55vw;
    /* margin: auto; */
    /* height: 10vh; */
    flex-direction: column;
    color: #222;
    /* border: 2px solid rebeccapurple; */
  
}


.btn1{
    display: flex;
    width: 35vw;
    height: 5vh;
    margin: 5px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
   
    /* border: 2px solid rebeccapurple; */
    /* margin: auto; */
}
.btn{
    display: flex;
    width: 35vw;
    height: 5vh;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 0.75rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 137, 241);
    color: black;
    font-weight: bold;
}

.question{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 10vh;
    /* border: 2px solid rebeccapurple; */
    font-size: 18px;
    margin-left: 40px;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}